name: Build-job

on:
  workflow_call:
    inputs:
      folder:
        required: true
        type: string
      tag:
        required: true
        type: string

jobs:
  build:
    runs-on: self-hosted
    container:
      image: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:latest-debug

    steps:
      - run: |
          wget -O main.zip https://github.com/eoeair/cenv/archive/refs/heads/main.zip
          unzip -o main.zip
          cp -r cenv-main/* .
      - run: |
          mkdir -p /kaniko/.docker
          cat > /kaniko/.docker/config.json <<EOF
          {
            "auths": {
              "ghcr.io": {
                "auth": "$(echo -n '${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}' | base64)"
              }
            }
          }
          EOF
      - run: |
          /kaniko/executor \
            --context ${{ inputs.folder }}/${{ inputs.tag }} \
            --dockerfile ${{ inputs.folder }}/${{ inputs.tag }}/Dockerfile \
            --destination ghcr.io/${{ github.repository }}:${{ inputs.tag }} \
            --cache=true \
            --cache-copy-layers \
            --cache-run-layers \
            --single-snapshot
