# This is a basic workflow to help you get started with Actions

name: Build&Push image

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  packages: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  Base:
    strategy:
      matrix:
        tag: [alpine, debian]
    uses: ./.github/workflows/build-job.yml
    with:
      folder: Base
      tag: ${{ matrix.tag }}

  Denv:
    needs: Base
    strategy:
      matrix:
        tag: [c, cpp, python, upython, zig]
    uses: ./.github/workflows/build-job.yml
    with:
      folder: Denv
      tag: ${{ matrix.tag }}

  Renv:
    needs: Base
    strategy:
      matrix:
        tag: [crane, jre_21, novnc, steam, zine]
    uses: ./.github/workflows/build-job.yml
    with:
      folder: Renv
      tag: ${{ matrix.tag }}

  Gpu:
    needs: Denv
    strategy:
      matrix:
        tag: [rocm, cuda]
    uses: ./.github/workflows/build-job.yml
    with:
      folder: Gpu
      tag: ${{ matrix.tag }}

  cleanup:
    needs: [Gpu, Renv]
    runs-on: self-hosted
    container:
      image: ghcr.nju.edu.cn/eoeair/cenv:debian
    steps:
      - uses: camargo/delete-untagged-action@v1
        with:
          package-name: ${{ github.repository }}
          github-token: ${{ secrets.DELETE_PACKAGES_TOKEN }}