name: Cache Clean

on:
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: self-hosted
    container:
      image: ghcr.nju.edu.cn/eoeair/cenv:debian
    steps:
      - uses: camargo/delete-untagged-action@v1
        with:
          package-name: ${{ github.repository }}/cache
          github-token: ${{ secrets.DELETE_PACKAGES_TOKEN }}