# This is a basic workflow to help you get started with Actions

name: Mirror image

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  packages: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  MirrorD:
    runs-on: self-hosted
    container:
      image: ghcr.io/eoeair/cenv:crane
    strategy:
      matrix:
        tag: [testing-slim]
    steps:
      - run: crane auth login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
      - run: crane copy docker.io/library/debian:${{ matrix.tag }} ghcr.io/eoeair/cenv:${{ matrix.tag }}

  MirrorA:
    runs-on: self-hosted
    container:
      image: ghcr.io/eoeair/cenv:crane
    strategy:
      matrix:
        tag: [edge]
    steps:
      - run: crane auth login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
      - run: crane copy docker.io/alpine:${{ matrix.tag }} ghcr.io/eoeair/cenv:${{ matrix.tag }}